figure{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;

    width: 100%;
    border-style: solid;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    border-color: green;
}
figure figcaption{
    color: grey;
}
